@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-tablet: 50rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(135deg, #1a202c, #2d3748, #4a5568);
  color: #e2e8f0;
  min-height: 100vh; */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

tr {
  flex: 1;
}
